@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&family=Noto+Sans+KR:wght@400;500&display=swap");

body {
  min-height: 100vh;
  background: linear-gradient(45deg, rgb(254, 232, 108), black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
h1 {
  font-weight: normal;
  font-family: "Neonderthaw", cursive;
  color: green;
  width: min-content;
  line-height: 0.7;
  font-size: 160px;
}

h1 span {
  font-size: 0.7em;
  color: white;
}
section {
  background-color: white;
}
