@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: beige;
}

.container {
  width: 288px;
  height: 348px;
  margin-left: 50px;
  margin-top: 50px;
  border-radius: 8px;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.1);
  .multi-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}
p {
  margin: 0;
}

.description {
  padding-left: 16px;
  padding-right: 16px;
}

.description_title {
  font-weight: 700;
  line-height: 19.2px;
  padding-top: 24px;
  padding-bottom: 12px;
  font-family: "Pretendard-Bold";
}

.description p {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  font-family: "Pretendard-Regular";
}

.exam {
  font-size: 14px;
  width: 256px;
  height: calc(14px * 1.6 * 3);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px;
  line-height: 1.6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.read_me {
  font-weight: bold;
  text-decoration: underline;
  color: black;
}

/* <!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>카드 UI</title>
  <link rel="stylesheet" href="./css/card.css">
</head>

<body>
  <h1>카드 UI</h1>
  <article class="card-ui">
    <a href="#">
      <img src="./images/thumbnail.png" alt="">
      <div class="text-group">
        <h2>그것을 피가 청춘을 것이다</h2>
        <p class="content">
          청춘의 하였으며, 이것은 몸이 때문이다. 사는가 고동을 용기가 충분히 청춘 것이다. 얼마나 반짝이는 소담스운 열락의 아름다우냐? 가지에 같지 청춘의 옷을 목숨을 피어나기 오직 군영과 칼이다. 거친
          끓는
          예가
          뿐이다. 방지하는 꽃이 청춘을 생명을 이것이다. 인간의 거선의 피고, 모래뿐일 작고 우리 평화스러운 있는가?
        </p>
        <p class="read">Read</p>
      </div>
    </a>
  </article>

  <article class="card-ui">
    <a href="#">
      <img src="./images/weniv-suri.png" alt="">
      <div class="text-group">
        <h2>그것을 피가 청춘을 것이다그것을 피가 청춘을 것이다그것을 피가 청춘을 것이다그것을 피가 청춘을 것이다그것을 피가 청춘을 것이다그것을 피가 청춘을 것이다</h2>
        <p class="content">
          청춘의 하였으며
        </p>
        <p class="read">Read</p>
      </div>
    </a>
  </article>
</body>

</html>
[오후 3:49](강사) 강혜진 - Chilli:
body,
h1,
h2,
p {
  margin: 0;
}
h1,
h2 {
  font: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Pretendard-Regular', sans-serif;
  color: #29363d;
}
.card-ui {
  width: 288px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  /* display: inline-block; */
/* } */
/* .card-ui img {
  width: 100%;
  aspect-ratio: 288/196;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-ui .text-group {
  padding: 24px 16px 16px;
}

.card-ui h2 {
  font-family: 'Pretendard-Bold';
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-ui .content {
  font-size: 14px;
  color: #5a6a72;
  margin: 16px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.6;
  height: calc(14px * 1.6 * 2);
}

.card-ui .read {
  text-decoration: underline;
  font-family: 'Pretendard-Bold';
  font-size: 14px;
}  */
